body {
  text-align: center;
  margin: auto;
}

h1 {
  font-family: Arial, sans-serif;
  color: #47a3da;
}

h3 {
  font-family: Arial, sans-serif;
  color: #47a3da;
  clear:right;
}

li {
  color: red;
}

h4 {
  font-family: Arial, sans-serif;
  color: #47a3da;
}

h5 {
  font-family: Arial, sans-serif;
  color: #47a3da;
}

p {
  font-family: Arial, sans-serif;
  color: grey;
}

a {
  position: center;
  text-decoration: none;
  color: #47a3da;
}

.container > header nav {
  text-align: center;
  float: right;
  clear: bottom;
}
