/*
*, *:after, *:before {                  /*keeps widths on elements despite padding and borders*/
/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/*
.cbp-vm-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}
.cbp-vm-grid:before {
    content: "\f00a";
}
.cbp-vm-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}*/

/********************************************************/
/*code that applies to both:*/

* {                                         /*GENERAL PAGE STYLING*/
  font-family: "Lato" sans-serif;
  color: #47a3da;
  list-style: none;
}

div #cbp-vm {                             /*BORDER*/
  border: 3px solid #47a3da;
  padding: 20px;
  height: 2000px;
  margin: 130px;
}

ul {                                      /*HORIZONTAL LINE*/
  border-top: 3px solid #47a3da;
  height: 0px;
  margin-bottom: 50px;
}

.cbp-vm-options a:before {            /*GRID ICON POSITIONING*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
    float: right;
}

.cbp-vm-grid::before {                /*GRID ICON*/
  content: "\f00a";
}

.cbp-vm-icon::before {               /*GRID ICON STYLING*/
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cbp-vm-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
}
.cbp-vm-list:before {
    content: "\f00b";
}
.cbp-vm-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cbp-vm-price {
  color: #c0c0c0;
  font-size: 20pt;
}

/*********************************************/
/*Code that applies to GRID*/

.cbp-vm-view-grid ul {                  /*BASIC STYLING*/
  text-align: center;

}

.cbp-vm-view-grid li {                  /*BASIC GRID*/
  float:left;
  width: 33%;
}

.cbp-vm-view-grid h3 {                    /*PRODUCT NAME*/

  padding: 2px;
  margin: 2px;
}

.cbp-vm-view-grid  .cbp-vm-price {          /*PRICE*/
  color: #c0c0c0;
  font-size: 20pt;
  padding: 5px;
  margin-bottom: 4px;
}

.cbp-vm-view-grid .cbp-vm-details {        /*DESCRIPTION*/

  max-width: 300px;
  min-height: 70px;
  margin: 32px;
}

.cbp-vm-view-grid .cbp-vm-add {
  background-color: #47a3da;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin: 10px;

}

.cbp-vm-view-grid .cbp-vm-image {
  display: block;
  margin-top: 80px;
}




/*******************************************/
/*Code that applies to LIST*/

.cbp-vm-view-list ul {

}

.cbp-vm-view-list li {
  float:left;
}

.cbp-vm-view-list h3 {

}

.cbp-vm-view-list .cbp-vm-price {
  color: #c0c0c0;
  font-size: 20pt;
}
