body {                              /*background*/
  background-color: #47a3da;
  margin-left: auto%;
  margin-right: auto%;
  width: 80%;

}

span {                             /*Blueprints*/
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
}

nav {                             /*Nav buttons positioning*/
  display: inline-block;
  font-family: sans-serif;
  float:right;
}

a {                               /*Nav buttons styling*/
  text-decoration: none;
  color: white ;
}


/*.bp-icon-next:after {
    content: "\e000";
}
.bp-icon:after {
    font-family: 'bpicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.bp-icon:after {
    font-family: 'bpicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.bp-icon-prev::after {
  content: "\e004";
}*/

h1 {                              /*Responsive Multi-Column Form*/
  text-align: center;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
  float: left;
  display:inline-block;
  margin-bottom: 30px;
}

form {                          /*Form positioning Global*/
  text-align: center;
  margin: 20px;
  display: block;
  clear: both;



}

/*.cbp-mc-form:before, .cbp-mc-form:after {
    content: " ";
    display: table;
}*/

div.cbp-mc-column  {            /*column positioning*/
  width: 33%;
  float: left;





}

label {                         /*text above input boxes*/
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
  text-align: center;
  display: block;
  padding: 15px;

}


input {                         /*Single-line input boxes*/
  border: 3px solid white;
  padding: 5px;
  background: #47a3da;
  color: white;

}



textarea {                      /*Multi-line input boxes*/
  background: #47a3da;
  border: 3px solid white;
  height: 100px;
}

#country {                      /*Country dropdown*/
  background: #47a3da;
  border: 2px solid white;

}

#occupation {                   /*Occupation dropdown*/
  background: #47a3da;
  border: 2px solid white;
}

#talent {                       /*Talent dropdown*/
  background: #47a3da;
  border: 2px solid white;
}

input.cbp-mc-submit {           /*Submit button*/
  color: white;
  text-align: center;
  background: #247cb1;
  border: none;
  border-radius: 3px;
  margin-top: 50px;
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
