/*http://stackoverflow.com/questions/12045893/
which-are-the-most-important-media-queries-to-use-
in-creating-mobile-responsive*/


@media (max-width: 1024px) and (min-width: 768px){
  div.cbp-mc-column {
    width: 50%;
    float: left;
  }

  div.cbp-mc-column:nth-child(3) {
    width: 100%;
    float: left;

  }
}
