@media (max-width: 1223px) and (min-width: 768px){


    .cbp_tmlabel::after, .cbp_tmlabel::before {     /*caret*/
    	right: 100%;
    	top: 9%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    .cbp_tmlabel::after {                         /*caret*/
    	border-color: rgba(71, 163, 218, 0);
    	border-right-color: #47a3da;
    	border-width: 10px;
    	margin-top: -10px;
    }
    .cbp_tmlabel::before {                      /*caret*/
    	border-color: rgba(71, 163, 218, 0);
    	border-right-color: #47a3da;
    	border-width: 10px;
    	margin-top: -10px;
    }

    li:nth-child(odd) .cbp_tmlabel::after {     /*every other blue caret*/    /*https://css-tricks.com/how-nth-child-works/*/
      border-right-color: #247cb1;
    }

    li:nth-child(odd) .cbp_tmlabel::before {     /*every other blue caret*/    /*https://css-tricks.com/how-nth-child-works/*/
      border-right-color: #247cb1;
    }

    ul.cbp_tmtimeline::before {    /*Vertical Line*/
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      height:2096px;
      background: #afdcf8;
      left: 20%;
      margin-top: 138px;
      margin-left: -10px;

    }
