/**
max-width: 640px;
max-height: 960px;
**/
@media (max-width: 767px) {

  .cbp_tmlabel {                     /*blue boxes*/  /*yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/*/
    background-color:  #47a3da;
    border-radius: 5px;
    margin: 50px;
    box-sizing: content-box;
    position: relative;
  }

  .cbp_tmlabel::after, .cbp_tmlabel::before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .cbp_tmlabel::after {
  	border-color: rgba(71, 163, 218, 0);
  	border-bottom-color: #47a3da;
  	border-width: 10px;
  	margin-left: -91px;
  }
  .cbp_tmlabel::before {
  	border-color: rgba(71, 163, 218, 0);
  	border-bottom-color: #47a3da;
  	border-width: 10px;
  	margin-left: -91px;
  }

  li:nth-child(odd) .cbp_tmlabel::after {     /*every other blue caret*/    /*https://css-tricks.com/how-nth-child-works/*/
    border-right-color: #247cb1;
  }

  li:nth-child(odd) .cbp_tmlabel::before {     /*every other blue caret*/    /*https://css-tricks.com/how-nth-child-works/*/
    border-right-color: #247cb1;
  }

  time > span:nth-child(2) {        /*time specific styling*/
    font-size: 18pt;

  }

  h1 {                      /*Vertical Timeline Heading*/
    font-size: 14pt;
  }

  p {
    font-size: 12pt;
  }

}
